[Unit]
Description=Ceph RGW Gap List Tool %i

[Service]
Type=oneshot
User=root
EnvironmentFile=/etc/default/rgw-gap-list
ExecStart=/usr/local/bin/rgw-gap-list.py $OPTS

[Install]
WantedBy=multi-user.target

